// tailwind.config.js
module.exports = {
  content: [
    './app/**/*.{js,ts,jsx,tsx}',
    './pages/**/*.{js,ts,jsx,tsx}',
    './components/**/*.{js,ts,jsx,tsx}',
  ],
  theme: {
    extend: {
      fontFamily: {
        inter: ['Inter', 'sans-serif'],
        display: ['Playfair Display', 'serif'],
      },
      colors: {
        primary: '#FFB703',
        secondary: '#FB8500',
        softWhite: '#FAFAFA',
        deepPurple: '#3A0CA3',
        skyBlue: '#4361EE',
      },
    },
  },
  plugins: [],
};
